@tailwind base;
@tailwind components;
@tailwind utilities;

.title-highlight {
    position: relative;
}

.title-highlight::before {
    background: var(--accent-500);
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    right: -1rem;
    bottom: -0.2rem;
    z-index: -1;
    filter: blur(2px) opacity(60%);
}

@layer base {
    :root {
        --text-50: #e9effb;
        --text-100: #d3def8;
        --text-200: #a7bdf1;
        --text-300: #7b9cea;
        --text-400: #507ce2;
        --text-500: #245bdb;
        --text-600: #1d49af;
        --text-700: #153684;
        --text-800: #0e2458;
        --text-900: #07122c;
        --text-950: #040916;

        --background-50: #f0f0f5;
        --background-100: #e0e0eb;
        --background-200: #c2c2d6;
        --background-300: #a3a3c2;
        --background-400: #8585ad;
        --background-500: #666699;
        --background-600: #52527a;
        --background-700: #3d3d5c;
        --background-800: #29293d;
        --background-900: #14141f;
        --background-950: #0a0a0f;

        --primary-50: #ecf0f8;
        --primary-100: #d9e0f2;
        --primary-200: #b4c1e4;
        --primary-300: #8ea3d7;
        --primary-400: #6884ca;
        --primary-500: #4265bd;
        --primary-600: #355197;
        --primary-700: #283d71;
        --primary-800: #1b284b;
        --primary-900: #0d1426;
        --primary-950: #070a13;

        --secondary-50: #e9eefc;
        --secondary-100: #d2def9;
        --secondary-200: #a5bcf3;
        --secondary-300: #789bed;
        --secondary-400: #4b7ae7;
        --secondary-500: #1f59e0;
        --secondary-600: #1847b4;
        --secondary-700: #123587;
        --secondary-800: #0c235a;
        --secondary-900: #06122d;
        --secondary-950: #030916;

        --accent-50: #fbe9f1;
        --accent-100: #f8d3e3;
        --accent-200: #f1a7c7;
        --accent-300: #ea7bab;
        --accent-400: #e2508f;
        --accent-500: #db2473;
        --accent-600: #af1d5c;
        --accent-700: #841545;
        --accent-800: #580e2e;
        --accent-900: #2c0717;
        --accent-950: #16040c;

    }

    .dark {
        --text-50: #040916;
        --text-100: #07122c;
        --text-200: #0e2458;
        --text-300: #153684;
        --text-400: #1d49af;
        --text-500: #245bdb;
        --text-600: #507ce2;
        --text-700: #7b9cea;
        --text-800: #a7bdf1;
        --text-900: #d3def8;
        --text-950: #e9effb;

        --background-50: #0a0a0f;
        --background-100: #14141f;
        --background-200: #29293d;
        --background-300: #3d3d5c;
        --background-400: #52527a;
        --background-500: #666699;
        --background-600: #8585ad;
        --background-700: #a3a3c2;
        --background-800: #c2c2d6;
        --background-900: #e0e0eb;
        --background-950: #f0f0f5;

        --primary-50: #070a13;
        --primary-100: #0d1426;
        --primary-200: #1b284b;
        --primary-300: #283d71;
        --primary-400: #355197;
        --primary-500: #4265bd;
        --primary-600: #6884ca;
        --primary-700: #8ea3d7;
        --primary-800: #b4c1e4;
        --primary-900: #d9e0f2;
        --primary-950: #ecf0f8;

        --secondary-50: #030916;
        --secondary-100: #06122d;
        --secondary-200: #0c235a;
        --secondary-300: #123587;
        --secondary-400: #1847b4;
        --secondary-500: #1f59e0;
        --secondary-600: #4b7ae7;
        --secondary-700: #789bed;
        --secondary-800: #a5bcf3;
        --secondary-900: #d2def9;
        --secondary-950: #e9eefc;

        --accent-50: #16040c;
        --accent-100: #2c0717;
        --accent-200: #580e2e;
        --accent-300: #841545;
        --accent-400: #af1d5c;
        --accent-500: #db2473;
        --accent-600: #e2508f;
        --accent-700: #ea7bab;
        --accent-800: #f1a7c7;
        --accent-900: #f8d3e3;
        --accent-950: #fbe9f1;

    }

    @font-face {
        font-family: 'NotoSans';
        src: url('../fonts/NotoSans.ttf');
    }

    @font-face {
        font-family: 'Fredoka';
        src: url("../fonts/Fredoka.ttf");
    }
}
